<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8"/>
<title>Main</title>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/mandalart.css" />

</head>
<body>
<!-- nav -->
<nav th:replace="nav::  navFragment"></nav>
<div align="left" class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-1">
	<div class="mandalart-cover">
		
		<div class="mandalart-row">
			<table class="table-hover-manda table-manda">
			  <tbody>
			    <tr>
			      <td>Column content</td>
			      <td>Column content</td>
			      <td>Column content</td>
			    </tr>
			    <tr>
			      <td>Column content</td>
			      <td class="manda-plan">Column content</td>
			      <td>Column content</td>
			    </tr>
			    <tr>
			      <td>Column content</td>
			      <td>Column content</td>
			      <td>Column content</td>
			    </tr>
			  </tbody>
			</table> 
			<table class="table-manda table-hover-manda">
			  <tbody>
			    <tr>
			      <td>Column content</td>
			      <td>Column content</td>
			      <td>Column content</td>
			    </tr>
			    <tr>
			      <td>Column content</td>
			      <td class="manda-plan">Column content</td>
			      <td>Column content</td>
			    </tr>
			    <tr>
			      <td>Column content</td>
			      <td>Column content</td>
			      <td>Column content</td>
			    </tr>
			  </tbody>
			</table> 
			<table class="table-manda table-hover-manda">
			  <tbody>
			    <tr>
			      <td>Column content</td>
			      <td>Column content</td>
			      <td>Column content</td>
			    </tr>
			    <tr>
			      <td>Column content</td>
			      <td class="manda-plan">Column content</td>
			      <td>Column content</td>
			    </tr>
			    <tr>
			      <td>Column content</td>
			      <td>Column content</td>
			      <td>Column content</td>
			    </tr>
			  </tbody>
			</table>
		</div>
		
		<div class="mandalart-row">
			<table class="table-hover-manda table-manda">
			  <tbody>
			    <tr>
			      <td>Column content</td>
			      <td>Column content</td>
			      <td>Column content</td>
			    </tr>
			    <tr>
			      <td>Column content</td>
			      <td class="manda-plan">Column content</td>
			      <td>Column content</td>
			    </tr>
			    <tr>
			      <td>Column content</td>
			      <td>Column content</td>
			      <td>Column content</td>
			    </tr>
			  </tbody>
			</table> 
			<table class="table-manda table-hover-manda">
			  <tbody>
			    <tr>
				  <td class="manda-plan">Column content</td>
				  <td class="manda-plan">Column content</td>
				  <td class="manda-plan">Column content</td>
			    </tr>
			    <tr>
				  <td class="manda-plan">Column content</td>
			      <td class="manda-goal">Column content</td>
				  <td class="manda-plan">Column content</td>
			    </tr>
			    <tr>
				  <td class="manda-plan">Column content</td>
				  <td class="manda-plan">Column content</td>
				  <td class="manda-plan">Column content</td>
			    </tr>
			  </tbody>
			</table> 
			<table class="table-manda table-hover-manda">
			  <tbody>
			    <tr>
			      <td>Column content</td>
			      <td>Column content</td>
			      <td>Column content</td>
			    </tr>
			    <tr>
			      <td>Column content</td>
			      <td class="manda-plan">Column content</td>
			      <td>Column content</td>
			    </tr>
			    <tr>
			      <td>Column content</td>
			      <td>Column content</td>
			      <td>Column content</td>
			    </tr>
			  </tbody>
			</table>
		</div>
		
		<div class="mandalart-row">
			<table class="table-hover-manda table-manda">
			  <tbody>
			    <tr>
			      <td>Column content</td>
			      <td>Column content</td>
			      <td>Column content</td>
			    </tr>
			    <tr>
			      <td>Column content</td>
			      <td class="manda-plan">Column content</td>
			      <td>Column content</td>
			    </tr>
			    <tr>
			      <td>Column content</td>
			      <td>Column content</td>
			      <td>Column content</td>
			    </tr>
			  </tbody>
			</table> 
			<table class="table-manda table-hover-manda">
			  <tbody>
			    <tr>
			      <td>Column content</td>
			      <td>Column content</td>
			      <td>Column content</td>
			    </tr>
			    <tr>
			      <td>Column content</td>
			      <td class="manda-plan">Column content</td>
			      <td>Column content</td>
			    </tr>
			    <tr>
			      <td>Column content</td>
			      <td>Column content</td>
			      <td>Column content</td>
			    </tr>
			  </tbody>
			</table> 
			<table class="table-manda table-hover-manda">
			  <tbody>
			    <tr>
			      <td>Column content</td>
			      <td>Column content</td>
			      <td>Column content</td>
			    </tr>
			    <tr>
			      <td>Column content</td>
			      <td class="manda-plan">Column content</td>
			      <td>Column content</td>
			    </tr>
			    <tr>
			      <td>Column content</td>
			      <td>Column content</td>
			      <td>Column content</td>
			    </tr>
			  </tbody>
			</table>
		</div>
	<!-- end of manda-cover-->		
	</div>
	
<!-- main -->	
</div>
<div>
<table class="table-manda table-hover-manda">
			  <tbody>
			    <tr>
			      <td>Column content</td>
			    </tr>
			    <tr>
			      <td>Column content</td>
			    </tr>
			    <tr>
			      <td>Column content</td>
			    </tr>
			    <tr>
			      <td>Column content</td>
			    </tr>
			    <tr>
			      <td>Column content</td>
			    </tr>
			    <tr>
			      <td>Column content</td>
			    </tr>
			  </tbody>
			</table>
</div>
<!-- footer -->
<footer th:replace="footer:: footerFragment"></footer>
<script src="/js/mandalart.js"></script>
</body>
</html>